{{extend 'layout.html'}}
<h1>Product image:</h1>
<div class ="one" style="text-align:center" id="one"></div>
<div class ="well">
{{for images in itemImages:}}
  <img width="60px" height="60px" class="img-thumbnail" src="{{=URL('download', args=images.image)}}" />

{{pass}}
</div>

<div class ="well">
    <h2>{{=image.Title}}</h2>
    <h2 style="color:red">
        Price: {{=image.Price}}$
    </h2>
    <ul style="list-style-type:none">
        <li></li>
        <li>Seller: {{=image.Seller}}</li>
        <li>Phone: {{=image.Phone}}</li>
        <li>Email: {{=image.Email}}</li>
        <li>Category: {{=image.Category}}</li>
        <li><p>
            Description: {{=image.Description}}
        </p></li>
        <li>Available for sale: {{=image.Status}}</li>
        <li>Date: {{=image.Date}}</li>
    </ul>
</div>

{{if auth.user_id == image.user_id:}}
<h2>Add more images for the product</h2>
{{=form}}
{{pass}}

<script>
$(document).ready(function() {
    $('.img-thumbnail').on('click', function() {
        var img = $('<img />', {src    : this.src,
                                'class': 'fullImage'
                  });

        $('DIV.one').html(img).show();
    });
});

</script>