{{extend 'layout.html'}}
<h1>Photos:</h1>
{{if len(itemImages): }}
<div class ="one" style="text-align:center" id="a"><img class="img-thumbnail" src="{{=URL('download', args=itemImages[0].image)}}" /></div>
{{pass}}
<div class ="well">

{{for images in itemImages:}}

  <img style= "width:90px; height:70px;" onmouseover="bigImg(this)" onmouseout="normalImg(this)"  class="img-thumbnail" src="{{=URL('download', args=images.image)}}" />

{{pass}}

</div>
{{seller=db.auth_user(image.user_id)}}
<form><input type="hidden" id="id" name="id" value="" /></form>
<div class ="well">
    <h2>{{=image.Title}}</h2>
    <h2 style="color:red">
        Price: {{=image.Price}}$
    </h2>
    <ul style="list-style-type:none">
        <li></li>
        <li>Seller: {{=seller.first_name+' '+seller.last_name}}</li>
        <li>Phone: {{=image.Phone}}</li>
        <li>Email: {{=image.Email}}</li>
        <li>Category: {{=image.Category}}</li>
        <li><p>
            Description: {{=image.Description}}
        </p></li>
        <li>Available for sale: {{=image.Status}}</li>
        <li>Date: {{=image.Date}}</li>
    </ul>
    <br>
    <br>
    <div style="text-align:right">
        <font size="8" style="font-family:verdana;font-size:460%;color:#00ace6"><span id="voteUp{{=seller.id}}">{{=seller.votesUp}}</span></font>
        <font size="2" style="font-family:Comic Sans MS;color:#00ace6">like</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <font size="8" style="font-family:verdana;font-size:460%;color:#990000"><span id="voteDown{{=seller.id}}">{{=seller.votesDown}}</span></font>
        <font size="2" style="font-family:Comic Sans MS;color:#990000">dislike</font>
    </div>
</div>

{{=A('< back', _class="btn btn-sm btn-primary", _href=URL('default', 'index'))}}

<div style="text-align:right">

<button class="btn btn-success" <span onclick="jQuery('#id').val('{{=seller.id}}');
ajax('{{=URL('default', 'voteUp')}}', ['id'], 'voteUp{{=seller.id}}');"></span>thumbs-up</button>

<button class="btn btn-danger" <span onclick="jQuery('#id').val('{{=seller.id}}');
ajax('{{=URL('default', 'voteDown')}}', ['id'], 'voteDown{{=seller.id}}');"></span>thumbs-down</button>

</div>

{{if auth.user_id == image.user_id:}}
<h2>Add more images for the product</h2>
{{=form}}
{{pass}}

<script>
$(document).ready(function() {
    $('.img-thumbnail').on('click', function() {
        var img = $('<img />', {src: this.src, 'class': 'img-thumbnail'});
        $('DIV.one').html(img).show();
        $('DIV.two').html(img2).hide();
    });
    
});
function bigImg(x) {
    x.style.height = "90px";
    x.style.width = "110px";
}

function normalImg(x) {
    x.style.height = "70px";
    x.style.width = "90px";
}
</script>